@font-face {
  font-family: "Raleway-Bold";
  src: url(/fonts/Raleway/Raleway-Bold.eot),
    url(/fonts/Raleway/Raleway-Bold.ttf), url(/fonts/Raleway/Raleway-Bold.woff);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Raleway-Light";
  src: url(/fonts/Raleway/Raleway-Light.eot),
    url(/fonts/Raleway/Raleway-Light.ttf),
    url(/fonts/Raleway/Raleway-Light.woff);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Pacifico-Regular";
  src: url(/fonts/Pacifico/Pacifico-Regular.eot),
    url(/fonts/Pacifico/Pacifico-Regular.ttf),
    url(/fonts/Pacifico/Pacifico-Regular.woff);
  font-style: normal;
  font-weight: normal;
}
